/* Base Styles */

* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.618em;
    font-family: 'Roboto', sans-serif;
}

.browser-support {
    height: 100%;
    padding: 30px 50px;
}

.flex {
    display: flex;
}

.content {
    flex: 3;
}


/**/
/*HEADER*/
/**/

.header {
    border-bottom: 1px solid #E6E2E3;
    padding-bottom: 20px;
    width: 95%;
}

.title {
    font-weight: 300;
    font-size: 3em;
}

.header-title {
    color: #9599F4;
}

/**/
/*EXAMPLES SECTION 1 */
/**/

.examples-sec-1 {
    width: 95%;
    border-bottom: 1px solid #E6E2E3;
}

.examples-sec-1-title {
    font-weight: 400;
    margin-bottom: -20px;
}

.example-btn, .code-block {
    border: 1px solid #00C6E3;
}

.example-btn {
    color: #00C6E3;
    background-color: transparent;
    outline: none;
    margin-top: 30px;
    width: 120px;
    padding: 6px 0;
    margin-right: 8px;
}

.selected {
    position: relative;
    background: #00C6E3;
    color: #ffffff;
}

.selected:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #00C6E3;
    border-width: 8px;
    margin-left: -8px;
}

.code-block {
    margin-top: 20px;
    background-color: #F4F9FC;
    padding: 35px;
    font-weight: 300;
    font-size: 18px;
}

/**/
/*EXAMPLE*/
/**/

.example-title, .example-desc {
    margin: 0;
}

.example-block {
    margin-top: 40px;
}


/**/
/*COLLAPSE*/
/**/

.collapse-container {
	margin-top: 30px;
	width: 95%;
}

.collapse-title {
	background-color: #9599F4;
	padding-left: 35px;
	position: relative;
    display: inline-block;
    width: 100%;
}

.collapse-title h2 {
	display: inline-block;
	font-weight: 400;
	margin: 16px 0;
    width: 90%;
}

.collapse-title .arrow {
    position: absolute;
    right: 3%;
    top: 20%;
    cursor: pointer;
    display: inline-block;
    border: none;
    background-color: transparent;
    outline: none;
}

.collapse-content {
	margin: 35px;
    padding-bottom: 20px;
}

/**/
/*SIDEBAR - QA*/
/**/
/*
.sidebar-qa {
	border-bottom: 1px solid #FCC7DD;
}*/

.sidebar {
    flex: 1;
  	padding: 20px;
  	line-height: 1.3em;
}

.sidebar-qa-title, .sidebar-qa-subtitle {
	margin: 0;
}

.sidebar-qa-title, .sidebar-method-title {
	color: #EF88B6;
	font-weight: 300;
	font-size: 20px;
}

.sidebar-qa-subtitle {
	color: #E993BA;
	line-height: 1.618em;
}

.sidebar-qa-content, .related-questions {
	font-size: 15px;
}

.question, .answer {
	position: relative;
	margin-top: 5px;
}

.q-icon, .a-icon {
    color: #FDFDFE;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.q-icon {
    background-color: #FABDDB;
    margin-bottom: 0;
}

.a-icon, .a-answer {
    margin-top: 0;
}

.a-icon.yes {
	background-color: #9AD49C;
}

.a-icon.no {
    background-color: #FDA7A8;
}

.a-answer.no {
	color: #F89A9E;
}

.a-answer.yes {
	color: #40B745;
}

.q-question, .a-answer, .related-questions {
	display: inline-block;
}

.q-question {
	width: 80%;
	margin-bottom: 0;
}

.q-question, .a-answer {
	margin-left: 30px;
}

.links {
	text-decoration: none;
}

.related-questions {
    font-weight: 900;
    border-bottom: 1px solid #9599F4;
    margin: 20px 5px;
    padding: 10px 5px;
    width: 100%;
}

.fa-angle-right {
    float: right;
}

.list {
	padding: 0;
	margin-top: 5px;
	list-style: none;
}

.method-link {
	color: #AEA5AA;
}

.sidebar-method-content, .sidebar-method-subtitle {
	margin: 5px 0;
}

.sidebar-method-subtitle {
	font-size: 1em;
}


/**/
/*BROWSER COMPONENT*/
/**/

.browser-comp {
    margin-top: 30px;
    width: 100%;
    height: auto;
}

.support-legend {
    position: absolute;
}

.support-legend-square {
    width: 30px;
    height: 22px;
    margin-right: 10px;
    position: relative;
    top: 5px;
}

.support-legend-square + span {
    margin-right: 20px;
}



.br-container:before {
   content: "";
   display: block;
   width: 1px;
   height: 1px;
   padding-top: 80px;
}

.br {
    border: 1px solid #E6E2E3;
    padding: 0 20px 0px 20px;
    margin-bottom: 10px;
}
.br-logo {
    width: 40px;
    vertical-align: middle;
    margin-right: 12px;
}

.support-legend-square, .support-legend-square + span, .br-logo, .br-name,
.br-version-nav, .br-version-list, .br-version {
    display: inline-block;
}

.br-name {
    width: 120px;
}

.br-name.ms {
	color: #26C5F5;
}
.br-name.ff {
	color: #E8815A;
}

.br-name.google {
	color: #888888;
}

.br-version {
    width: 50px;
    height: 40px;
    margin-right: 7px;
    text-align: center;
    line-height: 40px;
}

.open {
    width: 60px;
    height: 50px;
    line-height: 50px;
}

/**/
/*Browser Comp - */
/**/

.br-version-nav {
    position: relative;
}

.br-version-content {
	display: flex;
	padding: 30px 0;
	margin: 30px 10px;
}

.fa-caret-up {
    position: absolute;
    color: #FFFFFF;
    bottom: -47px;
    left: 118px;
}

.br-version-col1, .br-version-col2 {
    border-right: 1px solid #7B7B7B;
}


.br-version-col1 {
	flex: 1;
	padding: 0 30px;
}

.br-version-col2 {
	flex: 2;
	padding: 0 30px;
}

.br-version-col3 {
	flex: 3;
	padding: 0 30px;
}

.br-col-title {
	margin-top: 0;
}

.br-support {
	list-style: none;
	counter-reset: num;

	position: relative;
}

.br-updated-date {
	font-size: 0.7em;
	margin-top:30px;
}

.br-percent {
	float: right;
}

.br-support-items {
	font-size: 0.8em;
	line-height: 18px;
    padding: 10px 0;
}

.br-support-items:before {
	counter-increment: num;
    content: counter(num);

    text-align: center;
    line-height: 18px;
    
    width: 18px; 
    height: 18px;
    background: transparent;
    border: 1px solid #9599F4;
    
    -moz-border-radius: 50%;
    border-radius: 50%;

    float: left;
    position: absolute;
    left: 0;

    color: #9599F4;
}

.close-x {
    display: inline-block;
    font-family: 'Nunito', sans-serif;
    font-size: 1.6em;
    width: 5%;
}

/*
.fa-times {
	position: absolute;
	top: 23px;
    right: 20px;
}*/


/**/
/*FOOTER*/
/**/

.footer-list-item {
    color: #4E4E4E;
    font-size: 0.9em;
    line-height: 1.6em;
}

.ref.links {
    color: #7FB5C8;
}

.footer-list {
    padding-top: 0;
    margin: 10px 0 40px;
}

.footer-title {
    margin-bottom: 0;
}


/**/
/*COLORS*/
/**/

.green {
    background-color: #8CB930;
}

.orange {
    background-color: #E6D332;
}

.red {
    background-color: #E35A3C;
}
/*
.light-pink {
    background-color: #FFF7FC;
}*/

.bkground-white {
    background-color: #ffffff;
}

.font-white {
    color: #ffffff;
}

.font-grey {
    color: #7B7B7B;
}

.light-purple {
    background-color: #F3F3FA;
}

.purple {
    background-color: #9599F4;
}

.font-purple {
    color: #9599F4;
}


/**/
/*BORDER RADIUS*/
/**/
.bdr-radius-5 {
    border-radius: 5px;
}

.bdr-radius-3 {
    border-radius: 3px;
}

.bdr-radius-circle {
    border-radius: 50%;
}


/**/
/*MEDIA QUERY*/
/**/

@media only screen and (max-width: 1270px) {
    .br-version-col1 {
        flex: 2;
    }

    .br-version-col2 {
        flex: 3;
    }

    .br-last-updated {
        margin-top: -8px;
        display: block;
    }
}

@media only screen and (max-width: 960px) {
    .br-version-content {
        display: block;
        position: relative;
        padding: 10px;
    }
    .br-version-col1, .br-version-col2, .br-version-col3 {
        width: 90%;
        margin: 20px auto;
        padding: 5px 20px;
    }

    .br-version-col1, .br-version-col2 {
        border-right: none;
        border-bottom: 1px solid #ffffff;
    }
    .br-last-updated {
        margin-bottom: 10px;
        display: inline-block;
    }
    .close-x {
        width: 5%;
        position: absolute;
        top: 28px;
        right: 15px;
    }
}
